{{>header}}

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Library Management System (LMS)</a>
            </div>

            <!-- Display in navbar, User Name & Email Once Logged In -->
            <font style="color:white;">
                <span><strong>Welcome : {{name}}</strong></span>
            </font>

            <font style="color:white;">
                <span><strong>Welcome : {{email}}</strong></span>
            </font>

            <!-- Links -->
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">My Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="view-profile">View Profile</a>
                        <a class="dropdown-item" href="edit-profile">Edit Profile</a>
                        <a class="dropdown-item" href="change-password">Change Password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userLogout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <!-- Running Line Text -->
    <span>
        <marquee>
            <h4>This is Library Management System. Library opens at 8:00 AM and closes at 8:00 PM</h4>
        </marquee>
    </span>


    <div class="row">
        <div class="col-md-3">
            <h1>User Secret</h1>
        </div>
    </div>

</body>


<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);
</script>

</html>